//
   Created by Kaveh T a h e r i a n on 15/08/2017.
extends ./shared/layout
block contents
    .row
        ul.nav.nav-pills.nav-stacked.col-md-offset-2.col-md-2
            li.active(role='presentation')
                a(href='account/users/profile') General
            li(rol="presentation")
                a(href="account/users/profile/security") Security
            li(rol="presentation")
                a(href="account/users/profile/logs/" + #{user.id}) Logs
        .contailer.col-md-4
            p email #{user.email}
            p creation #{moment(user.createdAt).format('MMMM Do YYYY, h:mm:ss a')}
            p modification #{moment(user.modifiedAt).format('MMMM Do YYYY, h:mm:ss a')}
